/* Wordpress classes
--------------------------------------------- */
.wp-caption-text {
	text-align:center;
	padding:8px;
	color:#9E9E9E;
	font-family:Georgia;
	font-style:italic
}

.alignright{
	float:right
}
.alignleft{
	float:left
}
.aligncenter{ 
	display:block;
	margin-left:auto; 
	margin-right:auto
}

img.aligncenter, div.aligncenter, figure.aligncenter, img.wp-post-image {
	display:block;
	margin-left:auto; 
	margin-right:auto
}
img.alignright, div.alignright, figure.alignright {
	margin:0 0 1em 1em; 
	float:right
}
img.alignleft, div.alignleft, figure.alignleft, img.wp-post-image.attachment-thumb {
	margin:0 1em 1em 0;
	float:left
}
figure {
	height:auto
	margin:1em 0;
	max-width:100%
}

p img.alignright, p img.alignleft {
	margin-top:0
}

.gallery {
	margin:16px
}

.gallery:after {
	content:"";
	display:table;
	clear:both
}

.gallery figure img {
	border:3px double #ccc;
	max-width:100%; 
	height:auto; 
	margin:0 auto; 
	display:block
}

.gallery figure {
	margin:0 2% 1em 0;
	float:left
}

.gallery.gallery-columns-1 figure {
	width:100%;
	margin:0 0 1em 0; 
	float:none
}

.gallery.gallery-columns-3 figure {width:32%}
.gallery.gallery-columns-3 figure:nth-of-type(3n+3) {margin-right:0}
.gallery.gallery-columns-3 figure:nth-of-type(3n+4) {clear:left}

.gallery.gallery-columns-2 figure {width:49%}
.gallery.gallery-columns-2 figure:nth-of-type(even) {margin-right:0}
.gallery.gallery-columns-2 figure:nth-of-type(odd) {clear:left}

.gallery.gallery-columns-4 figure {width:23.25%}
.gallery.gallery-columns-4 figure:nth-of-type(4n+4) {margin-right:0}
.gallery.gallery-columns-4 figure:nth-of-type(4n+5) {clear:left}

.gallery.gallery-columns-5 figure {width:18%}
.gallery.gallery-columns-5 figure:nth-of-type(5n+5) {margin-right:0}
.gallery.gallery-columns-5 figure:nth-of-type(5n+6) {clear:left}

.gallery.gallery-columns-6 figure {width:14.2%}
.gallery.gallery-columns-6 figure:nth-of-type(6n+6) {margin-right:0}
.gallery.gallery-columns-6 figure:nth-of-type(6n+7) {clear:left}

.gallery.gallery-columns-7 figure {width:12%}
.gallery.gallery-columns-7 figure:nth-of-type(7n+7) {margin-right:0}
.gallery.gallery-columns-7 figure:nth-of-type(7n+8) {clear:left}

.gallery.gallery-columns-8 figure {width:10.2%}
.gallery.gallery-columns-8 figure:nth-of-type(8n+8) {margin-right:0}
.gallery.gallery-columns-8 figure:nth-of-type(8n+9) {clear:left}

.gallery.gallery-columns-9 figure {width:8.85%}
.gallery.gallery-columns-9 figure:nth-of-type(9n+9) {margin-right:0}
.gallery.gallery-columns-9 figure:nth-of-type(9n+10) {clear:left}

/* Scroll up icon
--------------------------------------------- */
#scrollup {
	position:fixed;
  	bottom:48px;
  	right:16px;
	display:none;
	width:44px;
	height:44px;
	color:#fff;
	background:#000;
	opacity:0.6;
  	z-index:9999;
  	border-radius:22px
}
#scrollup:hover {
	cursor:pointer
}
#scrollup i{
	font-size:21px;
	padding:12px
}

/* Breadcrumb
--------------------------------------------- */
.breadcrumb{
	padding:8px;
	margin-bottom:16px;
	background:#ddd;
	border-radius:5px;
	line-height:1.2em;
	font-size:16px
}
.breadcrumb .separator{
	color:#000
}
.breadcrumb a{
	font-weight:bold;
	text-decoration:none
}
.breadcrumb a:hover{
	text-decoration:underline
}

/* Sidebar
--------------------------------------------- */
.sidebar {
	padding-right:16px;
	padding-left:16px
}
.sidebar ul {
	padding:0;
	list-style-type:none
}
.left-sidebar{
	border-right:1px solid #ccc
}
.right-sidebar{
	border-left:1px solid #ccc
}

/* Site footer
--------------------------------------------- */
.site-footer {
	padding:16px 16px 48px 16px;
	background:#text_footer_background_color;
	color:#text_footer_font_color;
	font-size:80%
}
.site-footer .footer-widgets .widget-area{
	vertical-align:top;
	display:inline-block;
	margin:8px
}
.site-footer .footer-widgets .widget-area ul{
	padding:0;
	margin:0;
	list-style-type:none
}
.site-footer .nav-secondary, .site-footer .credits{
	text-align:center
}
.site-footer a:link,.site-footer a:active,.site-footer a:visited{
	color:#text_footer_link_color;
	text-decoration:none
}
.site-footer a:hover{
	color:#text_footer_link_color;
	text-decoration:underline
}
.site-footer .wrap{
	margin-top:32px;
	margin-bottom:32px
}

/* Pagination
--------------------------------------------- */
.pagination {
	clear:both;
	margin:48px 0;
	text-align:center
}
.adjacent-entry-pagination {
	margin-bottom:0;
}
.archive-description {
	padding-left:8px;
	padding-right:8px;
	padding-bottom:32px;
	border-bottom:1px solid #ccc;
	color:#757575;
	font-size:90%
}
.archive-description p a {
	text-decoration:none
}
.archive-pagination li {
	display:inline;
	margin:0px 4px 0px 4px
}
.archive-pagination a, .entry-pagination a, .entry-pagination span {
	padding:15px 18px 14px;
	margin-bottom:8px;
	border-radius:100px;
	background-color:#text_button_background_color;
	color:#text_button_font_color;
	border:1px solid #7D7D7D;
	cursor:pointer;
	display:inline-block;
	line-height:1;
	font-size:80%;
	text-align:center;
	text-decoration:none
}
.archive-pagination a:focus,
.archive-pagination a:hover,
.entry-pagination a:focus,
.entry-pagination a:hover {
	color:#text_button_font_color;
	opacity:0.8;
}
.archive-pagination .active a, .entry-pagination span {
	border:1px solid #DDD;
	color:#DDD
}
.archive-pagination .pagination-next a,
.archive-pagination .pagination-previous a {
	border-radius:100px
}

/* Site Header
--------------------------------------------- */
.genesis-skip-link{
	display:none
}
.site-header{
	position:fixed;
  	top:0;
  	width:100%;
	height:66px;
	z-index:3;
	float:left;
	background:#text_header_background_color;
	box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.site-header .logo img{
	height:48px;
	margin-top:8px;
	margin-left:8px;
	vertical-align:middle;
	width:auto;
	float:left
}
.site-header .title-area{
	width:480px;
	height:inherit;
	overflow:hidden; 
	white-space:nowrap;
    float:left
}
.site-description{
	display:none;
	padding:0;
	margin:0;
	line-height:1em
}
.header-widget-area{
	display:none;
	float:right
}
.header-widget-area section{
 	display:inline-block;
 	color:#text_site_title_color;
 	font-size:80%
}
.header-widget-area section a:link, .header-widget-area section a:hover, .header-widget-area section a:active{
 	color:#text_site_title_color;
 	text-decoration:none
}
.site-title{
	display:table-cell; 
	vertical-align:middle;
	padding:16px 8px 16px 8px;
	margin:0;
	height:100%;
	font-size:1rem;
    line-height:calc(1rem * 1.618);
    font-weight:bold
}
.site-title a{
	color:#text_site_title_color;
	text-shadow:1px 1px rgba(0,0,0,0.5);
	text-decoration:none
}
.header-widget-area{
	margin-right:60px
}

/* Social icons
--------------------------------------------- */
#social{
	display:inline-block
}
#social a{
	border:1px solid transparent;
	padding-top:1px;
	margin-right:4px;
	margin-left:4px
}
#social i{
	background:#eee;
	border-radius:8px; 
	-moz-border-radius:8px; 
	-webkit-border-radius:8px
}
.social-icon-facebook i{
	color:#47649E
}
.social-icon-twitter i{
	color:#1DA1F2
}
.social-icon-youtube i{
	color:#E71D1A
}
.social-icon-instagram i{
	color:#CA31BF
}
.social-icon-linkedin i{
	color:#006699
}
.social-icon-snapchat i{
	color:#FFFC01
}

/* Feature content
--------------------------------------------- */
#feature-before-post, #feature-after-post{
	padding:16px;
	margin-bottom:16px;
	color:#fefefe
}

/* Post list
--------------------------------------------- */
.main-feed {
	padding-left:16px;
	padding-right:16px;
	padding-bottom:16px;
	width:calc(100% - 448px)
}
.feed-entry{
	display:table;
	padding-top:16px;
	padding-bottom:16px;
	width:100%;
	border-bottom:1px solid #ccc
}
.feed-entry .entry-image-link{
	padding-right:16px;
	display:table-cell;
	width:400px
}
.feed-entry .entry-image-link:hover{
	opacity:0.8
}
.feed-entry-info{
	display:table-cell;
	vertical-align:top
}
.feed-entry .entry-title{
	padding:0;
	margin:0;
	font-size:1.143rem;
    line-height:calc(1.143rem * 1.618);
    color:#292929
}
.feed-entry .entry-title a{
	text-decoration:none
}
.feed-entry .entry-title a:hover, .archive-description p a:hover{
	color:#text_link_color_on_hover;
	text-decoration:underline
}
.feed-entry .entry-meta{
	color:#text_post_meta_link_color;
	font-size:80%
}
.feed-entry .entry-meta a{
	color:#text_post_meta_link_color;
	text-decoration:none
}
.feed-entry .entry-meta a:hover{
	text-decoration:underline
}
.feed-entry .entry-content{
	padding-bottom:16px;
	font-size:90%
}
.feed-entry .entry-content p{
	overflow:hidden;
	position:relative; 
	line-height:1.6em;
	max-height:3.2em; 
	color:#757575;
	z-index:0;
	text-align:justify
}

/* Post single
--------------------------------------------- */
.main-blank-full {
	width:100%
}
.main-single-full {
	padding-left:16px;
	padding-right:16px;
	padding-bottom:16px;
	width:100%
}
.main-single-half {
	padding-left:16px;
	padding-right:16px;
	padding-bottom:16px;
	width:calc(100% - 448px)
}
.main-single .entry-content {
	margin-bottom:2rem
}
.main-single .entry-content h1:not(.nostyle) {
	color:#text_h1_color;
}
.main-single .entry-content h2:not(.nostyle) {
	border-left:5px solid #text_h2_color;
	padding-left:16px;
	background:#F5F5F5
}
.main-single .entry-content h3:not(.nostyle) {
	color:#text_h3_color;
}
.main-single .entry-content h4:not(.nostyle) {
	color:#text_h4_color;
}
.main-single .entry-content h5:not(.nostyle) {
	color:#text_h5_color;
	font-style:italic
}
.main-single .entry-content h6:not(.nostyle) {
	color:#text_h6_color;
}
.main-single .related-posts a{
 	color:#text_link_color;
	font-weight:bold;
	text-decoration:none
}
.main-single .related-posts .related-image img:hover{
	opacity:0.8
}
.main-single .entry-footer{
	margin-bottom:16px;
	color:#text_post_meta_link_color;
	font-size:90%
}

/* Sidebar
--------------------------------------------- */
.main-single .entry-footer a, .entry-comments a,  .comment-respond a{
	color:#text_post_meta_link_color;
	text-decoration:none
}
.sidebar a {
	color:#text_sidebar_widget_link_color;
	text-decoration:none
}
.sidebar a:hover, .main-single .entry-footer a:hover, .main-single .related-posts a:hover, .entry-comments a:hover, .comment-respond a:hover{
	text-decoration:underline
}

/* Widgets
--------------------------------------------- */
.widget {
	margin-top:1em;
	margin-bottom:1em;
	font-size:90%
}
.widget-title,.comment-reply-title,.comments-title,.related-title,.author-box-heading {
	display:block;
	margin-bottom:16px;
    line-height:calc(1.143rem * 1.618);
    font-size:1.143rem;
    font-weight:bold
}
.comment-reply-title,.comments-title,.related-title,.author-box-heading {
	color:#text_post_meta_title_color;
}
.sidebar .widget-title {
	color:#text_sidebar_widget_title_color;
}
.site-footer .widget-title {
	color:#text_footer_widget_title_color;
}
/* Related posts
--------------------------------------------- */
.related-posts,.author-box,.entry-comments,.comment-respond{
	padding-top:16px;
	padding-bottom:16px;
	border-top:1px solid #ccc;
	font-size:90%
}
.related-posts ul{
	padding:0;
	margin:0;
	list-style-type:none
}
.related-posts ul li{
	text-align:center
}
.related-link {
	margin:5px
}

/* Layouts
--------------------------------------------- */
@media (min-width:480px) {
	.main-feed {
		padding-left:32px;
		padding-right:32px;
		padding-bottom:32px
	}
	.main-single-full,.main-single-half {
		padding-left:32px;
		padding-right:32px;
		padding-bottom:32px
	}
	.sidebar {
		padding-right:32px;
	    padding-left:32px
	}
}

/* Comments
--------------------------------------------- */
.entry-comments ol li{
	list-style-type:none
}
.comment-author{
	display:inline-block;
    margin-right:16px;
    font-style:italic;
    font-weight:bold
}
.comment-author img{
    margin-right:16px;
    border-radius:25px
}
.comment-meta {
	display:inline-block;
	font-size:80%
}
.comment-content{
	padding:16px;
	margin-top:16px;
	position:relative; 
	background:#E8EAF6; 
	border-radius:.4em
}
.comment-content:after { 
	margin-left:-15px; 
	margin-top:-15px;
	position:absolute; 
	top:0; 
	left:17px; 
	width:0; 
	height:0; 
	border:23px solid transparent; 
	border-bottom-color:#E8EAF6; 
	border-top:0;
	content:''
}
.comment-reply{
	margin-top:16px;
	margin-bottom:16px;
	font-size:80%
}
.comment-form label, .comment-form input {
    display:inline-block
}
.comment-form label {
    padding:8px;
    width:15%;
    text-align:right
}
.comment-form input[type="submit"] {
	margin-top:16px
}

/* Inputs
--------------------------------------------- */
button,input[type="submit"],a.comment-reply-link,.btn-primary,a.btn-primary,a.btn-primary:active,a.btn-primary:visited{
	display:inline-block;
	padding:10px 13px 8px 13px;
	margin:10px 5px 10px 0px;
	background-color:#text_button_background_color;
	color:#text_button_font_color;
	border:1px solid #7D7D7D;
    border-radius:28px;
    box-shadow:none;
    cursor:pointer;
    text-align:center;
    text-decoration:none;
    white-space:normal;
    overflow-wrap:break-word
}
.btn-transparent,a.btn-transparent,a.btn-transparent:active,a.btn-transparent:visited{
	display:inline-block;
	padding:10px 13px 8px 13px;
	margin:10px 5px 10px 0px;
	border:1px solid #fff;
	color:#fff;
    border-radius:28px;
    box-shadow:none;
    cursor:pointer;
    text-align:center;
    text-decoration:none;
    white-space:normal;
    overflow-wrap:break-word
}
button:hover,input[type="submit"]:hover,a.comment-reply-link:hover,.btn-primary:hover,a.btn-primary:hover,.btn-transparent:hover,a.btn-transparent:hover {
	color:#text_button_font_color;
	opacity:0.8;
	text-decoration:none
}
.btn-action,a.btn-action:active,a.btn-action:visited{
	display:inline-block;
	padding:10px 16px 10px 16px;
	margin:10px 5px 10px 0px;
	background-color:#text_button_action_background_color;
	color:#text_button_action_font_color;
    border:none;
    border-radius:28px;
    box-shadow:none;
    cursor:pointer;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    white-space:normal;
    overflow-wrap:break-word
}
.btn-action:hover,a.btn-action:hover{
	color:#text_button_action_font_color;
	opacity:0.8;
	text-decoration:none
}
input[type="text"],input[type="email"],input[type="password"],input[type="url"],input[type="search"],textarea{
	padding:.5em .5em;
	margin:0;
	font-size:90%;
	background-color:#EFEFEF;
	border:1px solid transparent;
	border-radius:5px;
	transition:border-color ease .3s;
	outline:0
}
input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,input[type="url"]:focus,input[type="search"]:focus,textarea:focus{
    background-color:#EFEFEF;
    border-color:#5f98e1
}
.search-form input[type="search"]{
	margin-right:8px
}

/* About author
--------------------------------------------- */
.author-box .author-box-content{
	padding-top:1rem;
	padding-bottom:1rem
}
.author-box .avatar{
	display:inline-block;
	margin-right:1rem;
	border-radius:50%
}
.author-box .author-box-title{
	display:inline-block;
	color:#000;
	font-weight:bold
}

/* Misc
--------------------------------------------- */
.screen-reader-shortcut,.screen-reader-text,.screen-reader-text span {
	overflow:hidden;
	width:1px;
	height:1px;
	position:absolute !important;
	word-wrap:normal !important;
	clip:rect(0, 0, 0, 0);
	border:0
}
.genesis-nav-menu .search input[type="submit"]:focus,.screen-reader-shortcut:focus,.screen-reader-text:focus,.widget_search input[type="submit"]:focus {
	display:block;
	padding:15px 23px 14px;
	color:#333;
	background:#fff;
	width:auto;
	height:auto;
	z-index:100000;
	box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	clip:auto !important;
	font-size:90%;
	text-decoration:none
}

.site-inner{
	margin-top:88px
}

.site-content-canvas-with-menu{
	margin-top:0px
}

/* Header Menu
--------------------------------------------- */
.nav-primary {
	position:fixed;
	width:100%;
	top:66px;
	z-index:4;
	opacity:0.9;
	background:#text_nav_background_color;
	box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-size:90%;
	font-weight:500
}
.nav-secondary ul{
	padding:0;
	margin:0;
    overflow:hidden;
    list-style-type:none
}
.nav-secondary ul > li{
	display:inline;
	padding-right:8px;
	padding-left:8px
}
.genesis-nav-menu {
	clear:both;
	width:100%;
	line-height:1
}
.genesis-nav-menu .menu-item {
	margin-top:8px;
	margin-bottom:8px;
	display:block;
	position:relative;
	float:none
}
.genesis-nav-menu a {
	display:block;
	padding-bottom:12px;
	padding-top:12px;
	outline-offset:-1px;
	text-decoration:none
}
.nav-primary .genesis-nav-menu a{
	color:#text_nav_link_color;
}
.nav-secondary .genesis-nav-menu a{
	color:#fff
}
.nav-primary .genesis-nav-menu a:focus,
.nav-primary .genesis-nav-menu a:hover {
	color:#text_nav_link_color_on_hover;
	text-decoration:none
}
.nav-primary .genesis-nav-menu .current-menu-item > a,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color:#text_nav_link_color;
	opacity:0.8
}
.genesis-nav-menu .sub-menu,
.genesis-nav-menu .sub-menu a {
	width:100%
}
.genesis-nav-menu .sub-menu {
	display:none;
	clear:both;
	padding-left:10px;
	margin:0;
	left:-9999px;
	opacity:1;
	position:static;
	z-index:99
}
.genesis-nav-menu .sub-menu a {
	position:relative;
	word-wrap:break-word
}
.genesis-nav-menu .menu-item:focus,
.genesis-nav-menu .menu-item:hover {
	position:relative
}
.genesis-nav-menu .menu-item:hover > .sub-menu {
	left:auto;
	opacity:1
}

/* Responsive Menu
--------------------------------------------- */
.genesis-responsive-menu {
	display:none
}
.menu .menu-item:focus {
	position:static
}
.menu .menu-item > a:focus + ul.sub-menu,.menu .menu-item.sfHover > ul.sub-menu {
	left:auto;
	opacity:1
}
.menu-toggle,.sub-menu-toggle {
	display:block;
	visibility:visible;
	overflow:hidden;
	margin:0 auto;
	background-color:transparent;
	color:#text_site_title_color;
	border-width:0;
	text-align:center
}
.menu-toggle:focus,.menu-toggle:hover,.sub-menu-toggle:focus,.sub-menu-toggle:hover {
	background-color:transparent;
	color:#text_site_title_color;
	border-width:0;
	opacity:0.8
}
.menu-toggle {
	position:fixed;
	top:12px;
	right:8px;
	line-height:20px;
	z-index:5;
	font-size:30px
}
.site-header .menu-toggle::before {
	margin-right:5px;
	position:relative;
	top:1px;
	text-rendering:auto;
	float:left
}
.sub-menu-toggle {
	padding:9px 10px;
	position:absolute;
	right:0;
	top:0;
	z-index:5;
	float:right
}
.sub-menu .sub-menu-toggle {
	padding:12px 10px;
}
.sub-menu-toggle::before {
	display:inline-block;
	margin-left:8px;
    width:14px;
    height:14px;
    border-color:#text_nav_link_color;
    border-top:3px solid;
    border-right:3px solid;
    content:'';
    -webkit-transition:-webkit-transform 0.25s ease-in-out;
    transition:-webkit-transform 0.25s ease-in-out;
    transition:transform 0.25s ease-in-out;
    transition:transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -webkit-transform:rotate(135deg);
    transform:rotate(135deg);
    text-rendering:auto
}
.sub-menu-toggle.activated::before {
    -webkit-transform:rotate(315deg);
    transform:rotate(315deg)
}

/* Wordpress logged classes
--------------------------------------------- */
.admin-bar .site-header {
	top:46px
}
.admin-bar .nav-primary {
	top:112px
}
.admin-bar .menu-toggle {
	top:58px
}


/* Responsive classes
--------------------------------------------- */
@media screen and (max-width:1024px) {
	.comment-form input[type="submit"] {
		margin-top:32px;
	    margin-left:15%
	}
	.comment-form label {
		padding:8px;
	    width:100%;
	    text-align:left
	}
	.comment-form label, .comment-form input {
    	display:block
	}
	.main-single-full,.main-single-half {
		padding:1rem
	}
	.left-sidebar{
		border-right:0px
	}
	.right-sidebar{
		border-left:0px
	}
	.main-feed, .main-single {
		width:100%
	}
  	.feed-entry{
  		display:block;
  		margin-right:0px;
  		margin-left:0px
	}
	.feed-entry-image{
		display:block;
		width:100%
	}
	.feed-entry-info{
		display:block
	}
}

.responsive-embed {
	margin-top:5px
}

@media screen and (min-width:960px) {
	.site-title{
    	line-height:calc(1.2rem * 1.618);
		font-size:1.2rem
	}
	/*.site-inner{
		margin-top:148px
	}*/
	.site-content-canvas-with-menu{
		margin-top:148px
	}
	
	.nav-primary{
		opacity:1
	}

	/* Genesis Menu
	--------------------------------------------- */
	.genesis-nav-menu .menu-item {
		display:inline-block;
		margin-top:4px;
	    margin-bottom:4px
	}
	.genesis-nav-menu .menu-item:focus,
	.genesis-nav-menu .menu-item:hover {
		position:relative
	}
	.genesis-responsive-menu .genesis-nav-menu .sub-menu,
	.genesis-responsive-menu .genesis-nav-menu .sub-menu a {
		width:180px
	}
	.genesis-nav-menu .sub-menu {
		padding-left:0;
		position:absolute;
		background:#text_nav_background_color;
		box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition:opacity .3s ease-in-out;
		opacity:0
	}
	.genesis-nav-menu .sub-menu a {
		padding-bottom:15px;
		padding-top:15px;
		border-top:0
	}
	.genesis-nav-menu .sub-menu .sub-menu {
		margin:-60px 0 0 179px;
	}
	.genesis-nav-menu .sub-menu .menu-item-has-children > a:after {
		display:inline-block;
		margin-left:16px;
		margin-bottom:1px;
		width:8px;
    	height:8px;
    	border-color:#text_nav_link_color;
    	border-top:2px solid;
   	 	border-right:2px solid;
   	 	content:'';
   	 	-webkit-transform:rotate(45deg);
    	transform:rotate(45deg);
    	text-rendering:auto
	}

	/* Responsive Menu
	--------------------------------------------- */
	.genesis-responsive-menu {
		display:block
	}
	.header-widget-area {
		display:block;
		visibility:visible
	}

	.menu-toggle,.sub-menu-toggle {
		display:none;
		visibility:hidden
	}

	/* Header Menu
	--------------------------------------------- */
	.nav-primary .genesis-nav-menu a {
		padding-left:15px;
		padding-right:15px
	}
}

@media screen and (min-width:783px) {
	.admin-bar .site-header {
		top:32px
	}
	.admin-bar .nav-primary {
		top:98px
	}
	.admin-bar .menu-toggle {
		top:44px
	}
}

@media (max-width:767px) {
	img.alignright, div.alignright, figure.alignright, img.alignleft, div.alignleft, figure.alignleft, img.wp-post-image.attachment-thumb {
		display:block; 
		margin:1em auto; 
		float:none
	}
	.gallery.gallery-columns-4 figure, .gallery.gallery-columns-5 figure, .gallery.gallery-columns-6 figure, .gallery.gallery-columns-7 figure, .gallery.gallery-columns-8 figure, .gallery.gallery-columns-9 figure {
		width:100%; 
		margin:0 0 1em 0; float:none
	}
}

@media screen and (max-width:560px) {
	.site-title{
    	line-height:calc(0.8rem * 1.618);
		font-size:0.8rem
	}

	.responsive-embed {
		margin-top:5px;
		position:relative;
		padding-bottom:56.25%; /* 16:9 */
		padding-top:0px;
		height:0;
		overflow:hidden
	}
	.responsive-embed iframe,
	.responsive-embed object,
	.responsive-embed embed,
	.responsive-embed video {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%
	}
}

/* Error page
--------------------------------------------- */
.error404 h1 {
	color:orange
}
.error404 .search-form{
	margin-top:16px
}

/* Alert box
--------------------------------------------- */
.alert {
	margin-top:16px;
	margin-bottom:16px;
	padding:16px;
	border-radius:8px;
	background:#EF5350;
	color:#fff
}

/* Ruby and japanese classes
--------------------------------------------- */
ruby rt{
	color:#FF6699
}
.rbt{
	border-top:1px solid #F00
}
.rbb{
	border-bottom:1px solid #F00
}
.rbl{
	border-left:1px solid #F00
}
.rbr{
	border-right:1px solid #F00
}

/* Edit link when logged
--------------------------------------------- */
a.post-edit-link {
	margin:8px;
	background:#ff0 !important;
	color:#000 !important;
	text-decoration:none !important;
}
a.post-edit-link:hover {
	opacity:0.8;
	text-decoration:none !important;
}

/* Theme plugins classes
--------------------------------------------- */
.mytabs {
	border-bottom:1px solid #ccc
}
.mytabs > input{
	display:none;
}
.mytab-sep{
	border-top:1px solid #ccc
}
.mytab-content {
	display:none
}
.mytab-label {
	display:inline-block;
	margin:0 0 -1px;
	padding:15px 25px;
	text-align:center;
	border:1px solid transparent;
	color:#bbb
}
.mytab-label:hover {
	color:#888;
	cursor:pointer
}
.mytabs input:checked + label {
	color:#555;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	border-top:2px solid #ccc;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom:1px solid #fff
}

.myaccordion > label {
	position:relative;
	display:block;
	padding:0 0 0 1em;
	border:1px solid #ccc;
	background:#eee;
	line-height:3;
	cursor:pointer
}
.myaccordion > label::after {
	position:absolute;
	right:0;
	top:0;
	display:block;
	width:3em;
	height:3em;
	line-height:3;
	-webkit-transition:all .35s;
	-o-transition:all .35s;
	transition:all .35s;
	text-align:center
}
.myaccordion > input[type=checkbox] {
	display:none
}
.myaccordion > input[type=checkbox] + label::after {
	content:"+"
}
.myaccordion input:checked ~ .myaccordion-content {
	display:block
}
.myaccordion > input[type=checkbox]:checked + label::after {
	transform:rotate(315deg)
}
.myaccordion-content {
	display:none;
	border:1px solid #ccc;
	padding:0.5em
}
.mygoogle-map-responsive{
    margin-top:1em;
    margin-bottom:1em;
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0
}
.mygoogle-map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute
}

/* Misc
--------------------------------------------- */
.bg-navy { background-color:#001F3F !important; }
.bg-blue { background-color:#0074D9 !important; }
.bg-aqua { background-color:#7FDBFF !important; }
.bg-teal { background-color:#39CCCC !important; }
.bg-olive { background-color:#3D9970 !important; }
.bg-green { background-color:#2ECC40 !important; }
.bg-lime { background-color:#01FF70 !important; }
.bg-yellow { background-color:#FFDC00 !important; }
.bg-orange { background-color:#FF851B !important; }
.bg-red { background-color:#FF4136 !important; }
.bg-fuchsia { background-color:#F012BE !important; }
.bg-purple { background-color:#B10DC9 !important; }
.bg-maroon { background-color:#85144B !important; }
.bg-white { background-color:#FFFFFF !important; }
.bg-gray { background-color:#AAAAAA !important; }
.bg-silver { background-color:#DDDDDD !important; }
.bg-black { background-color:#111111 !important; }
.navy { color:#001F3F !important; }
.blue { color:#0074D9 !important; }
.aqua { color:#7FDBFF !important; }
.teal { color:#39CCCC !important; }
.olive { color:#3D9970 !important; }
.green { color:#2ECC40 !important; }
.lime { color:#01FF70 !important; }
.yellow { color:#FFDC00 !important; }
.orange { color:#FF851B !important; }
.red { color:#FF4136 !important; }
.fuchsia { color:#F012BE !important; }
.purple { color:#B10DC9 !important; }
.maroon { color:#85144B !important; }
.white { color:#FFFFFF !important; }
.silver { color:#DDDDDD !important; }
.gray { color:#AAAAAA !important; }
.black { color:#111111 !important; }
.border--navy { border-color:#001F3F !important; }
.border--blue { border-color:#0074D9 !important; }
.border--aqua { border-color:#7FDBFF !important; }
.border--teal { border-color:#39CCCC !important; }
.border--olive { border-color:#3D9970 !important; }
.border--green { border-color:#2ECC40 !important; }
.border--lime { border-color:#01FF70 !important; }
.border--yellow { border-color:#FFDC00 !important; }
.border--orange { border-color:#FF851B !important; }
.border--red { border-color:#FF4136 !important; }
.border--fuchsia { border-color:#F012BE !important; }
.border--purple { border-color:#B10DC9 !important; }
.border--maroon { border-color:#85144B !important; }
.border--white { border-color:#FFFFFF !important; }
.border--gray { border-color:#AAAAAA !important; }
.border--silver { border-color:#DDDDDD !important; }
.border--black { border-color:#111111 !important; }
.night,.night a:link,.night a:active,.night a:visited{
  color:#fff !important;
}
.night a:hover{
  color:#eee !important;
}
.text-shadow{
  text-shadow:2px 3px 3px rgba(0,0,0,0.3);
}
.border-dotted {
	border-style:dotted !important;
}
.border-dashed {
	border-style:dashed !important;
}

.shine {
    position:relative;
    overflow:hidden
}
.shine:after {
    overflow:hidden;
    background:#fff;
    content:"";
    height:250px;
    left:-71px;
    opacity:.3;
    position:absolute;
    top:-63px;
    -webkit-transform:rotate(41deg);
    transform:rotate(41deg);
    -webkit-transition:all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    transition:all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    animation:shiny 3s infinite linear;
	-webkit-animation:shiny 3s infinite linear;
	-moz-animation:shiny 3s infinite linear;
    width:50px;
    z-index:1
}
@keyframes shiny {
    0% {
        left:-30%
    }
    20% {
        left:120%
    }
    100% {
        left:120%
    }
}
@-webkit-keyframes shiny {
    0% {
        left:-30%
    }
    20% {
        left:120%
    }
    100% {
        left:120%
    }
}
@-moz-keyframes shiny {
    0% {
        left:-30%
    }
    20% {
        left:120%
    }
    100% {
        left:120%
    }
}